@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Slider";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-left:300px;margin-top:100px">
    <a class="btn btn-success text-white"asp-action="Create" style="float:right">Create</a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Image</th>
                <th scope="col">Status</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var slider in Model)
            {
                <tr>
                    <th><img src="~/img/@slider.Image" style="width:100px;height:70px" /></th>
                    <td>
                        @if (!slider.SoftDelete)
                        {
                            <div class="active-status"></div>
                        }
                        else
                        {
                            <div class="deActive-status"></div>
                        }
                        
                    </td>
                    <td>
                        <a class="btn btn-outline-info" asp-action="Detail" asp-route-id="@slider.Id">Info</a>
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@slider.Id">Edit</a>
                        <a class="btn btn-outline-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
